/* CSS reset */

@font-face {
  font-family: 'Inter';
  src: url('/Inter-VariableFont_slnt,wght.ttf');
  font-weight: 100 900;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  /*scrollbar-gutter: stable;*/
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a:hover, a:visited, a:active {
  text-decoration: none;
}

.flex-container {
  display: flex;
}

.center {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px;
}

.highlight {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 225, 0, 0.1),
    rgba(255, 225, 0, 0.7) 4%,
    rgba(255, 225, 0, 0.3)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.destyled-btn {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  font-size: 16px;
}
